/*feuille de style commune aux 4 pages*/
h1 {
  font-family: "Caveat Brush", cursive;
}

body {
  font-family: "roboto", sans-serif;
}

a {
  color: #343a40;
}

a:hover {
  color: #343a40;
  text-decoration: none;
}

.navbar {
  padding: 0.5rem 0;
}

.nav-item:hover {
  text-decoration: underline;
}

.list-group-item {
  border: none;
}

.list-group-item {
  background-color: #343a40;
  color: #fff;
}

.list-group-item a {
  color: #fff;
}
